{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>
<form action="/create_recipe" method="post">
  <p>
    Otsikko: <br />
    <input type="text" name="title" maxlength="50" required/>
  </p>
  <p>
    Ainesosat: <br />
    <textarea name="ingredients" rows="4" cols="40" maxlength="400" required></textarea>
  </p>
  <p>
    Valmistusohje: <br />
    <textarea name="instruction" rows="8" cols="60" maxlength="1000" required></textarea>
  </p>
  {% for class in classes %}
  <p>
    {{ class }}: <br />
    <select name="classes">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{ class }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <input type="submit" value="Luo resepti" />
</form>
<p>
  <a href="/">Takaisin</a>
</p>
{% endblock %}
